KolonyTools/KolonyTools.v12.suo
KolonyTools/KolonyTools/bin
KolonyTools/KolonyTools/obj
~$MKS_Worksheet.xlsx
Source/KolonyTools/bin/Debug/Assembly-CSharp-firstpass.dll
Source/KolonyTools/bin/Debug/Assembly-CSharp.dll
Source/KolonyTools/bin/Debug/KolonyTools.dll
Source/KolonyTools/bin/Debug/Mono.Security.dll
Source/KolonyTools/bin/Debug/Mono.Cecil.dll
Source/KolonyTools/bin/Debug/UnityEngine.dll
Source/KolonyTools/bin/Debug/KolonyTools.pdb
Source/KolonyTools/bin/Debug/TDx.TDxInput.dll
Source/KolonyTools/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Source/KolonyTools/obj/Debug/KolonyTools.pdb
Source/KolonyTools/obj/Debug/KolonyTools.csproj.FileListAbsolute.txt
Source/KolonyTools/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Source/KolonyTools/obj/Debug/KolonyTools.dll
Source/KolonyTools/bin/Debug/TacLifeSupport.dll
Models/Kerbitrail_Tube/Temp/UnityLockfile
*.DotSettings
*.user
Source/KolonyTools/obj/x64/Debug/build.force
*.force
*.cache
*.db
*.cache
*.zip